<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
      Ciencias Computacionales 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-card-content>
      <img  src="assets/computacionales.png" style="display: block;margin-left: auto;margin-right: auto;margin-top:10px;">
      <ion-list *ngFor="let track of playlist">
        <ion-button [color]="track==activeTrack ? 'tertiary' : 'dark'" expand="block" class="botonChiquito" (click)="start(track)">
            Escuchar sobre Licenciatura
        </ion-button>
      </ion-list>
    </ion-card-content>

    <ion-footer *ngIf="activeTrack">
      <ion-toolbar color="dark">
        <ion-row>

          <ion-col size="12">
            <ion-range #range [(ngModel)]="progress" max="100" color="tertiary" (touchend)="seek()" (mouseup)="seek()"></ion-range>
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            {{activeTrack.name}}
          </ion-col>

          <ion-col size="12" class="ion-text-center">

            <ion-button fill="clear" (click)="tooglePlayer(false)" *ngIf="!isPlaying" color="light">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="tooglePlayer(true)" *ngIf="  isPlaying" color="light">
              <ion-icon slot="icon-only" name="pause"></ion-icon>
            </ion-button>

          </ion-col>
          
        </ion-row>
      </ion-toolbar>
    </ion-footer>

  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Objetivo</h1> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap" style="text-align:justify;">
          La licenciatura en Ciencias Computacionales tiene como 
          objetivo formar profesionales capaces de desarrollar, analizar
          y diseñar soluciones tecnológicas innovadoras mediante 
          la utilización de modelos matemáticos. Además, el egresado 
          podrá administrar proyectos, diseñar estrategias, metodologías o herramientas para
          desempeñarse en el campo laboral tecnológico tanto público
          como privado.
        </ion-label>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content"> Cualidades de los aspirantes</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content  >
      <ion-list>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Conocimientos de matemáticas del nivel medio superior
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Ser perseverante al resolucionar problemas
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Demostrar capacidad para la concentración a largo plazo
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Aptitud para el trabajo metódico y disciplinado
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Demostrar responsabilidad y proactividad ante situaciones adversas
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Tener interés para aplicar conocimientos a problemas reales
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Duracion</h1> </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-item style="text-align: center;">
        <ion-label>9 semestres</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <p style="text-align:center;">  <ion-button fill="outline" color="brown" style="color: brown;"(click)="openModal()">Empleo de los egresados</ion-button></p>
  </ion-card>
 
 <!-- <h1  style="text-align: center;border-style: inset;border-color: brown;">Empleo de los egresados de esta carrera</h1> -->
 


</ion-content>