<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
      Ciencias Computacionales 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
    
  <img src="assets/lcc.png" style="display: block;margin-left: auto;margin-right: auto;margin-top:10px;">
 <h1 style="text-align: center;border-style: inset;border-color: brown;">Objetivo</h1> 
 <p style="text-align:justify;padding:20px;">La formación en este nivel educativo se enfoca en la preparación para desarrollar una profesión o actividad laboral. Es por ello que en muchos casos los estudiantes se encuentran inmersos en actividades profesionales, ya sea con un trabajo formal que no propiamente corresponde a su área de formación.
  Es el uso de estas tecnologías (TIC) lo que está propiciando este cambio de paradigmas facilitando el acceso a la información, permitiendo con ello disminuir la desigualdad social y mejorar el nivel de vida de la población.</p>
 <h1 style="text-align: center;border-style: inset;border-color: brown;">Duracion</h1> 
 <p style="text-align:center;padding:20px;">9 semestres</p>
 <p style="text-align:center;">  <ion-button fill="outline" color="brown" style="color: brown;"(click)="openModal()">Empleo de los egresados</ion-button></p>
 <!-- <h1  style="text-align: center;border-style: inset;border-color: brown;">Empleo de los egresados de esta carrera</h1> -->
 
 <p *ngIf="dataReturned">{{dataReturned}}</p>

</ion-content>
