<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
     Física 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-card-content>
      <img src="assets/fisica.png" style="display: block;margin-left: auto;margin-right: auto;margin-top:10px;">
      <ion-list *ngFor="let track of playlist">
        <ion-button [color]="track==activeTrack ? 'tertiary' : 'dark'" expand="block" class="botonChiquito" (click)="start(track)">
            Escuchar sobre Licenciatura
        </ion-button>
      </ion-list>
    </ion-card-content>
    <ion-footer *ngIf="activeTrack">
      <ion-toolbar color="dark">
        <ion-row>

          <ion-col size="12">
            <ion-range #range [(ngModel)]="progress" max="100" color="tertiary" (touchend)="seek()" (mouseup)="seek()"></ion-range>
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            {{activeTrack.name}}
          </ion-col>

          <ion-col size="12" class="ion-text-center">

            <ion-button fill="clear" (click)="tooglePlayer(false)" *ngIf="!isPlaying" color="light">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="tooglePlayer(true)" *ngIf="  isPlaying" color="light">
              <ion-icon slot="icon-only" name="pause"></ion-icon>
            </ion-button>

          </ion-col>
          
        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Objetivo</h1> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap" style="text-align:justify;">
          Formar profesionales con una preparación general en el área de las ciencias físicas, que les permita participar en el desarrollo científico, tecnológico, docencia e investigación para la sociedad.
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-header>
      <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content"> Cualidades de los aspirantes</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-list>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Capacidad para buscar información, seleccionarla, ordenarla y utilizarla oportunamente.
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Capacidad de identificar cuál es el problema esencial en una situación dada; distinguir elementos intrínsecos y contextuales de esa situación, descubrir y ponderar rutas alternas de solución y tomar decisiones.
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Poseer conocimientos suficientes para proseguir sus estudios.          
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Presta atención a hechos y datos; conceptos, términos y símbolos; procedimientos y fórmulas; teorías y principios, y nociones fundamentales que tradicionalmente se incluyen
            en los programas del bachillerato.          
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Debe tener dominio del propio idioma, como instrumento de comunicación y el manejo de otros idiomas y el cómputo, el de las matemáticas hasta la comprensión y aplicación de conceptos como función y límite, el manejo de elementos de probabilidad y la estimación por rangos.    
          </ion-label>
          <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  
 
 
  <ion-card>
    <ion-card-header>
      <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Duración</h1> </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-item style="text-align: center;">
        <ion-label>9 semestres</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <p style="text-align:center;">  <ion-button fill="outline" color="brown" style="color: brown;"(click)="openModal()">Empleo de los egresados</ion-button></p>
  </ion-card>
 <!-- <h1  style="text-align: center;border-style: inset;border-color: brown;">Empleo de los egresados de esta carrera</h1> -->
 
 <p *ngIf="dataReturned">{{dataReturned}}</p>

</ion-content>
