<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
     Fisica 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
    
  <img src="assets/fisica.png" style="display: block;margin-left: auto;margin-right: auto;margin-top:10px;">
 <h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Objetivo</h1> 
 <ion-card >
  <ion-card-content class="ion-text-justify" style="margin-left:1.5em;margin-top:.2em;margin-bottom:1em" >
    Formar profesionales con una preparación general en el área de las ciencias físicas, que les permita participar en el desarrollo científico, tecnológico, docencia e investigación para la sociedad.
  </ion-card-content>
</ion-card>
 <h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Cualidades de los aspirantes</h1> 
 <ion-card >
  <ion-card-content class="ion-text-justify"   style="margin-left:1.5em;margin-top:.2em;margin-bottom:1em">
     <li>Capacidad para buscar información, seleccionarla, ordenarla y utilizarla oportunamente.</li>
     <li>Capacidad de identificar cuál es el problema esencial en una situación dada; distinguir elementos intrínsecos y contextuales de esa situación, descubrir y ponderar rutas alternas de solución y tomar decisiones.</li>
     <li>Poseer conocimientos suficientes para proseguir sus estudios.</li>
     <li>Presta atención a hechos y datos; conceptos, términos y símbolos; procedimientos y fórmulas; teorías y principios, y nociones fundamentales que tradicionalmente se incluyen
      en los programas del bachillerato.</li>
     <li>Debe tener dominio del propio idioma, como instrumento de comunicación y el manejo de otros idiomas y el cómputo, el de las matemáticas hasta la comprensión y aplicación de conceptos como función y límite, el manejo de elementos de probabilidad y la estimación por rangos.</li>
     <li style="margin-bottom:1em">Capacidad de razonamiento para reconocer distintas situaciones o alternativas: identificarlas o diferenciarlas unas de otras, transferir lo conocido a otras circunstancias, descubrir todos y partes, comparar, seleccionar, juzgar, evaluar. Reconocer qué está o puede estar incluido en qué, identificar qué puede esperarse a partir de ver regularidades o maneras permanentes de proceder o enlazarse los sucesos. Implica imaginar soluciones o suponer condiciones, probar, explorar, comprobar.</li>

  </ion-card-content>
</ion-card>
 <h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Duracion</h1> 
 <ion-card style="text-align:center;padding:20px;">9 semestres</ion-card>
 <p style="text-align:center;">  <ion-button fill="outline" color="brown" style="color: brown;"(click)="openModal()">Empleo de los egresados</ion-button></p>
 <!-- <h1  style="text-align: center;border-style: inset;border-color: brown;">Empleo de los egresados de esta carrera</h1> -->
 
 <p *ngIf="dataReturned">{{dataReturned}}</p>

</ion-content>
