  <ion-header>
    <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title >
       Multimedia y Animacion Digital
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <ion-card>
      <ion-card-content>
        <img src="assets/multimedia.png" style="display: block;margin-left: auto;margin-right: auto;margin-top:10px;">
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Objetivo</h1> </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label class="ion-text-wrap" style="text-align:justify;">
            Formar Licenciados en Multimedia y Animación Digital con un perfil integral; altamente competentes en el mundo laboral; capaces de entender holísticamente la realidad; con plena conciencia de la situación regional, nacional y mundial; comprometidos con el desarrollo sustentable, económico, tecnológico y social de la humanidad; capaces de estudiar, plantear y formular nuevas soluciones de interpretación y proyección de la información; así como los nichos de mercado del entretenimiento a través de las tecnologías digitales, con el fin de proveer propuestas y rutas para la generación de la nueva realidad del arte digital y las comunicaciones electrónicas, en el ámbito nacional e internacional.
          </ion-label>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
    <ion-card >
      <ion-card-header>
        <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content"> Cualidades de los aspirantes</h1></ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-list>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Demuestra capacidad para la concentración y el trabajo durante largos periodos de tiempo.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Es tenaz y perseverante al analizar y resolver problemas.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Es creativo
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Posee marcado gusto por el estudio.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Tiene interés profundo en la aplicación de los conocimientos a problemas reales.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Posee aptitud de trabajo metódico y disciplinado.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Demuestra actitud proactiva y responsable ante los retos en situaciones adversas.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Mantiene una actitud orientada hacia la solución de problemas.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Es capaz de sostener relaciones interpersonales positivas para el mejor resultado en trabajo de equipo.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          <ion-item >
            <ion-label class="ion-text-wrap" style="text-align:justify;">
              Posee marcado interés por el arte digital en su expresión creativa, interpretativa o de su fundamento tecnológico actual.
            </ion-label>
            <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
          </ion-item>
          
          
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 style="text-align: center;border-style: inset;border-color: brown;" class="content">Duracion</h1> </ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: center;">
        <ion-item style="text-align: center;">
          <ion-label>9 semestres</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
 
    <ion-card>
      <p style="text-align:center;">  <ion-button fill="outline" color="brown" style="color: brown;"(click)="openModal()">Empleo de los egresados</ion-button></p>
    </ion-card>
     <!-- <h1  style="text-align: center;border-style: inset;border-color: brown;">Empleo de los egresados de esta carrera</h1> -->
   
   <p *ngIf="dataReturned">{{dataReturned}}</p>
  
  </ion-content>