<!-- <ion-app>
    <ion-menu side="start" class="menu" type="reveal" contentId="content1">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
              <ion-item  [routerLink]="menu.url" *ngFor="let menu of Menu" routerDirection="forward">
                <ion-icon [name]="menu.icon" slot="start"></ion-icon>
                {{menu.title}}
              </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
  </ion-app> -->