.content
{
    --background:  rgba(7, 55, 211, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
}
ion-menu{
    ion-content{
        --ion-background-color:rgb(170, 185, 218);
        
    }
}
.label
{
    color: rgb(15, 15, 15);
}
