<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Licenciaturas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content col-12>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="6" size="12" *ngFor="let lic of licenciaturas">
        <ion-card class="card" color="light" (click)="info(lic)">
          <ion-card-title class="titulo">
            {{lic.name}}
          </ion-card-title>
          <ion-card-content class="contentcard">
            <ion-img class="image" [src]="lic.image"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
