.toolbar
{
    --background:  rgba(7, 55, 211, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    width: auto;
}
.contentcard
{
    width: auto;
    height:95%;
    
}
.titulo
{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top:20px;
    min-height: 50px;
}
.card
{
    width:94%; 
}
.image {
    width:100%;
    height: 100%;
    margin-bottom:7px;
}