.informacion {
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.toolbar {
    --background: rgba(7, 55, 211, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
}

.card {
    --background: rgba(235, 199, 199, 0.185);
}

.serif {
    font-family: "Times New Roman", Times, serif;
}