<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
     Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>
      83 29 40 30
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    <ion-label>
      FCFM UANL (OFICIAL)
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-twitter" slot="start"></ion-icon>
    <ion-label>
      FCFMUANL 
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="location-outline" slot="start"></ion-icon>
    <ion-label>
      AV. UNIVERSIDAD S/N.<br>CIUDAD UNIVERSITARIA <br>SAN NICOLÁS DE LOS GARZA,<br> NUEVO LEÓN, C.P. 66451
    </ion-label>
  </ion-item>
</ion-content>
