.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.toolbar {
    --background: rgba(7, 55, 211, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
}