<ion-header >
  <ion-toolbar class="toolbar">
    <ion-title>{{modalTitle}}</ion-title>
    <ion-button slot="end" fill="clear" (click)="closeModal()" >
      <ion-icon name="close-circle-outline" size="large" color="medium"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text >
        <h1>{{paramempleo1}}</h1>
      </ion-text>
        <p >Diseño de planes de seguros de vida, accidentes, enfermedades, salud, daños y reaseguro</p>
    </ion-label>
    <ion-note slot="start"color="primary" style="font-size: 20px;">1</ion-note>

  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text >
        <h1>{{paramempleo2}}</h1>
      </ion-text>
        <p >Instituciones bancarias, casas de bolsa, inversiones, administración del riesgo</p>
    </ion-label>
    <ion-note slot="start" color="primary" style="font-size: 20px;">2</ion-note>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text >
        <h1>{{paramempleo3}}</h1>
      </ion-text>
        <p >Estadística Industrial</p>
    </ion-label>
    <ion-note slot="start" color="primary" style="font-size: 20px;">3</ion-note>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text >
        <h1>{{paramempleo4}}</h1>
      </ion-text>
    </ion-label>
    <ion-note slot="start"color="primary" style="font-size: 20px;">4</ion-note>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text >
        <h1>{{paramempleo5}}</h1>
      </ion-text>
    </ion-label>
    <ion-note slot="start"color="primary" style="font-size: 20px;">5</ion-note>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text >
        <h1>{{paramempleo6}}</h1>
      </ion-text>
    </ion-label>
    <ion-note color="primary" color="primary"slot="start" style="font-size: 20px;">6</ion-note>
  </ion-item>
  
  
</ion-content>
