<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
     Concurso Ingreso
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  
  <ion-slides pager="true" >
    
      <ion-slide >
          <ion-card class="card">
            
            <br>
            <ion-card-title class="titulo">
              <b>Registro</b>
            </ion-card-title>

            <ion-card-content class="slidesdescription" >
              <span >
                <br><ion-text color="dark">
                  <b>1. Ingresar a la página oficial de la UANL, Concurso de ingreso a licenciatura</b>
                  <ion-card-subtitle class="notas"><ion-text color="dark">
                    www.uanl.mx > Aspirantes >
                    Licenciatura > Concurso de ingreso a
                    licenciatura </ion-text> </ion-card-subtitle>
                

                <ion-button (click)="GoToIngreso()" expand="block" class="miBoton" color="dark" fill="solid" size="small" shape="round">Ir a "Concurso de <br> Ingreso a Licenciatura"</ion-button>

                <br>
                <b>2.</b> Después de leer la convocatoria, <b>acceder
                a la liga de acceso al REGISTRO PARA EL
                EXAMEN</b>, capturar la información
                solicitada para posteriormente imprimir
                la Hoja de Pre Registro.<br><br>
                <b>3. Acceder nuevamente a la convocatoria en
                la liga de acceso a la CAPTURA DE
                ENCUESTAS</b> (DATOS PERSONALES Y
                CENEVAL).<br><br>
                <b>4. Acudir a cualquier sucursal Banorte del
                país con la Hoja de Pre Registro y realizar
                el pago de la aportación al examen</b> por la
                cantidad de:<br>
                $ 800.00
                (Ochocientos pesos 00/100 M.N.).<br><br>
                <b>5. Imprimir la Hoja de Confirmación</b> desde
                la CAPTURA DE ENCUESTAS (DATOS
                PERSONALES Y CENEVAL)<br></ion-text>
              </span>
            </ion-card-content>
        
          </ion-card>
      </ion-slide>
    <ion-slide >
        <ion-card class="card">
          <br>
          <ion-card-title  class="titulo">
            <b>Toma de Fotografia</b>
          </ion-card-title>
         <ion-card-content class="slidesdescription">
        
            <br><ion-text color="dark">
              <ion-card-subtitle class="subtitulos"><b>Requisitos</b></ion-card-subtitle>
              <span >
                <b>• Identificación</b> con foto indispensable.<br>
                <b>• Hoja de Confirmación.</b>
                Requiere la firma del padre o tutor (en caso de ser menor de edad).<br>
                <b>• Foto reciente a color, tamaño infantil.</b><br><br>
              </span>
              <ion-card-subtitle class="subtitulos"><b>Lugar y fecha</b></ion-card-subtitle>
              <span >
                Departamento Escolar
                (1er. piso de la FCFM).
                Del <b>22 de abril al 19 de mayo</b> de
                2020, de lunes a viernes.<br>
                Horario: <b>09:00 a 13:00 y 15:00 a 18:00</b>
                horas.<br>
                En el momento de la toma de fotografía,
                se le hará entrega del <b>Pase de Ingreso al
                Examen</b>.
              </span><br><br>
              <ion-card-subtitle class="subtitulos"><b>Módulo a estudiar:<br>INGENIERÍA Y TECNOLOGÍA</b></ion-card-subtitle>  
              <span>
                Aspirantes a ingresar a las siguientes
                carreras:<br> • Lic. en Matemáticas<br>
                <b>•</b> Lic. en Física<br>
                <b>•</b> Lic. en Ciencias Computacionales<br>
                <b>•</b> Lic. en Actuaría<br>
                <b>•</b> Lic. en Multimedia y Animación Digital<br>
                <b>•</b> Lic. en Seguridad en Tecnologías de Información<br>
              </span>
            </ion-text>
         </ion-card-content> 
        </ion-card>
    </ion-slide>
    <ion-slide >
      <ion-card class="card">
        <br>
        <ion-card-title  class="titulo" >
           <b>Examen</b> 
        </ion-card-title>
       <ion-card-content class="slidesdescription" >
      
          <span class="slidesdescription">
            <br><ion-text color="dark">
            El examen se aplicará el <b>sábado 4 de
            julio de 2020</b>, teniendo una duración
            aproximada de 4 horas con 30 minutos
            por lo que les sugerimos no venir en
            ayunas y no traer mochila, celular,
            calculadora, ni bolsa de mano; <b>tendrá
            que presentarse directamente al aula
            asignada en su Pase de Ingreso a las
            07:15 a.m.</b> únicamente con:<br>

            <ion-card-subtitle class="notas"><ion-text color="dark">
            • Pase de Ingreso al Examen<br>
            • Lápiz del No.2<br>
            • Borrador</ion-text></ion-card-subtitle><br>

            <ion-card-subtitle class="subtitulos"><b>Nota</b></ion-card-subtitle>

            Podrá consultar la Guía oficial EXANI-II de
            Ceneval con los temas a estudiar, en la
            siguiente ruta:

            <ion-card-subtitle class="notas"><ion-text color="dark">
            www.uanl.mx > Aspirantes >
            Licenciatura > Concurso de ingreso a
            licenciatura > Documentos relacionados >
            Guía del examen Exani II de Ceneval</ion-text> </ion-card-subtitle>
            
            <ion-button (click)="GoToExani()" expand="block" class="miBoton" color="dark" fill="solid" size="small" shape="round">Ir a "Guía de EXANI II Ceneval"</ion-button>

          </ion-text>
          </span>
            
        </ion-card-content> 
      </ion-card>
       
    </ion-slide>
</ion-slides>

   
</ion-content>