<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
     Concurso Ingreso DESTINY
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" >
    <ion-slide >
        <ion-card class="card">
          <br>
          <ion-card-title class="titulo">
            Registro
          </ion-card-title>
          <ion-card-content class="slidesdescription" >
            <span >
              1. Ingresar a la página oficial de la UANL
              https://www.uanl.mx/tramites/concurso-de-ingreso-a-licenciatura/.<br><br>
              2. Después de leer la convocatoria, acceder
              a la liga de acceso al REGISTRO PARA EL
              EXAMEN, capturar la información
              solicitada para posteriormente imprimir
              la Hoja de Pre Registro.<br><br>
              3. Acceder nuevamente a la convocatoria en
              la liga de acceso a la CAPTURA DE
              ENCUESTAS (DATOS PERSONALES Y
              CENEVAL).<br><br>
              4. Acudir a cualquier sucursal Banorte del
              país con la Hoja de Pre Registro y realizar
              el pago de la aportación al examen por la
              cantidad de:<br>
              $ 800.00
              (Ochocientos pesos 00/100 M.N.).<br><br>
              5. Imprimir la Hoja de Confirmación desde
              la CAPTURA DE ENCUESTAS (DATOS
              PERSONALES Y CENEVAL)<br>
            </span>
          </ion-card-content>
        </ion-card>
    </ion-slide>
    <ion-slide >
        <ion-card class="card">
          <ion-card-title  class="titulo">
            Toma de Fotografia
          </ion-card-title>
         <ion-card-content class="slidesdescription">
        
            <span >
              <h2 >Requisitos:</h2>
              • Identificación con foto indispensable.<br>
              • Hoja de Confirmación.
              Requiere la firma del padre o tutor (en caso de ser menor de edad).<br>
              • Foto reciente a color, tamaño infantil.<br><br>
              <h2> Lugar y fecha:</h2>
              Departamento Escolar
              (1er. piso de la FCFM).
              Del 22 de abril al 19 de mayo de
              2020, de lunes a viernes.<br>
              Horario: 09:00 a 13:00 y 15:00 a 18:00
              horas.<br>
              En el momento de la toma de fotografía,
              se le hará entrega del Pase de Ingreso al
              Examen.<br><br>
             <h2>Módulo a estudiar:</h2>
              <b>INGENIERÍA Y TECNOLOGÍA</b>  <br>
              Aspirantes a ingresar a las siguientes
              carreras:<br> • Lic. en Matemáticas<br>
              • Lic. en Física<br>
              • Lic. en Ciencias Computacionales<br>
              • Lic. en Actuaría<br>
              • Lic. en Multimedia y Animación Digital<br>
              • Lic. en Seguridad en Tecnologías de Información<br>
            </span>
         </ion-card-content> 
        </ion-card>
    </ion-slide>
    <ion-slide >
      <ion-card class="card">
        <ion-card-title  class="titulo">
          Examen
        </ion-card-title>
       <ion-card-content class="slidesdescription" >
      
          <span class="slidesdescription">
         
            El examen se aplicará el sábado 6 de
            junio de 2020, teniendo una duración
            aproximada de 4 horas con 30 minutos
            por lo que les sugerimos no venir en
            ayunas y no traer mochila, celular,
            calculadora, ni bolsa de mano; tendrá
            que presentarse directamente al aula
            asignada en su Pase de Ingreso a las
            07:15 a.m. únicamente con:<br>
            • Pase de Ingreso al Examen<br>
            • Lápiz del No.2<br>
            • Borrador<br><br>
            <h2>Nota:</h2>
            Podrá consultar la Guía oficial EXANI-II de
            Ceneval con los temas a estudiar, en la
            siguiente ruta:<br>
            www.uanl.mx > Aspirantes >
            Licenciatura > Concurso de ingreso a
            licenciatura > Documentos relacionados
            Guía del examen Exani II de Ceneval o
            bien ingrese en la siguiente página:<br><br>
           <mark>www.uanl.mx/wp-content/uploads/
            2020/01/Guia-EXANI-II-25a-edicion2020.pdf</mark>
          </span>
            
        </ion-card-content> 
      </ion-card>
       
    </ion-slide>
</ion-slides>

   
</ion-content>