<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >
     Solicitar Informacion
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre(s)</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Pais</ion-label>
      <ion-select [interfaceOptions]="PaisOptions" interface="alert" placeholder="Seleccionar" >
        <ion-select-option *ngFor="let pais of paises" >{{pais.name}}</ion-select-option>
      </ion-select>
      
  </ion-item>
  <ion-input placeholder="Ciudad"></ion-input>
  <ion-input placeholder="Telefono"></ion-input>
  <ion-input placeholder="Correo"></ion-input>
 
  <ion-item>
    <ion-label>Licenciaturas</ion-label>
    <ion-select [interfaceOptions]="LicenciaturasOptions" interface="action-sheet"  placeholder="Seleccionar">
      <ion-select-option *ngFor="let lic of licenciaturas" >{{lic.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripcion de su duda</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-button expand="block" fill="clear" strong="true"  (click)="openCamera()" >
    Tomar Foto
    <ion-icon name="camera-outline" size="large" slot="end" ></ion-icon>
  </ion-button>
  <!-- <ion-img [src]="image"></ion-img> -->
  <img [src]="image"/>
  <br>
  <br>
  <br>
  <ion-button color="success"expand="block" fill="solid" strong="true"  >
    Enviar
    <ion-icon name="send-outline"  slot="end" ></ion-icon>
  </ion-button>
</ion-content>